.content{
    &__container{
        width: 100vw;
        height: calc(100vh - 210px);
        position: absolute;
        top: 80px;
        left: 0;
        background: black;

        display: flex;
        align-content: center;
        justify-content: center;
    }

    &__picture{
        height: inherit;
    }
}
.main-screen{

}
