.player {
    &__container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background: $dark;

        &--top {
            width: inherit;
            display: flex;
            align-items: center;
        }
    }

    &__buttons {
        width: 40px;
        height: 40px;
        margin: {
            right: 15px;
            left: 15px;
        };

        &:active {
            transform: scale(.8);
        }

        &.disable {
            display: none;
        }

        &--container {
            height: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__track-description {
        color: $textColor;
        &--time{
            position: absolute;
            top: 4px;

            &-current{
                left: 5px;
            }
            &-total{
                right: 5px;
            }
        }
    }

    &__progress-track {
        background: $barBack;
        width: calc(100vw - 60px);
        height: 30px;
        border-radius: 8px;
        position: relative;

        &--container {
            margin: 10px;
            display: flex;
            justify-content: space-around;
        }

        &--fill {
            width: 1%;
            background: $barFill;

            display: flex;
            justify-content: space-between;
        }
    }
}
button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    display: flex;
}
